body {
	font-family: arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
	height: 100%;
}


.header {
	padding-top: 10px;
	height: 100px;
}

.main {
 	margin: 0 auto;
	text-align: center;
	display: block;
	height: 400px;

}

#center_search {
	position: absolute;
	top: 200px;
}

#button {
	font-weight: bold;
	color: white;
	background-color: #008AE6;
	padding: 5px 10px;
	border-radius: 2px;
}

img {
		/* 568x192 */
	margin: 0 auto;
	width: 284; height: 96;
}

#search_bar{
	width: 400px;
	height: 25px;
	border-radius: 1px;
	border: 1px;
	border-color: #CFCFCF;
	border-style: solid;

}

form {
	display: inline;
}

div {
	overflow: hidden;
	width: 100%;

}

.footer {
	background-color: #F0F0F0;
	height: 40px;
	position: absolute;
	bottom: 0;
	width: 100%;

}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

ul li { 
	display: inline;
	padding: 2px 10px;
}


#left_side {
	padding-left: 15px;
	float: left;
	text-align: left;}

#right_side {
	padding-right: 15px;
	float: right;
	text-align: right;}



/*

.header {
	margin: 0 auto;
	text-align: right;
	background-color: #9966FF;
	height: auto;
	vertical-align: middle;
	font-family: arial, sans-serif;
	font-size: 13px;
}

.main {
 	margin: 0 auto;
 	background-color: #B0B0B0;
	text-align: center;
	display: block;

}

img {
		/* 568x192 /
		margin: 0 auto;
		width: 284; height: 96;
}


form {
	display: inline;

}

#lucky{
}


a {
	text-decoration: none;
}
.header a {
	display: inline-block;
	width: 50px;
}

#left_foot; #right_foot a {width: 80px;}

#button {
	width: 150px; height: 40px;
	background-color: blue;
	text-align: center;
	vertical-align: middle;
}


.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 40px;
	right: 0;
	min-width: 600px;
	font-family: arial, sans-serif;
	font-size: 13px;
	
	background-color: #00FFCC;

	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: auto auto;
	
}

.footer {
	list-style-type: none;
}

.footer {
	display: inline;
}


#left_foot {
	margin-left: 25px;
	text-align: left;}

#right_foot {
	margin-right: 25px;
	text-align: right;}
*/

	/*
.footer ul.left_foot li{
	margin-right: 30px;
}

.footer ul.right_foot li{
	margin-left: 30px;
}*/